# === Python ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.log

# === Virtualenv ===
venv/
.env

# === IDEs ===
.vscode/
.idea/

# === Relatórios temporários ===
/tmp/
*.pdf

# === Sistema ===
.DS_Store
Thumbs.db
